<!DOCTYPE html>
<head>
    {{>responsive}}
    <title>About</title>
    <link rel = "stylesheet" href = "/css/styles.css" >
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
{{>header}}
<img class ="portrait" src ="/img/barnali.jpg" alt = "robot pic">
</div>
<p>{{>footer}}</p>

</body>
</html>